@media (max-height: 450px) {
    body {
        min-height: 0px;
    }

    #canvas,
    .gameStartContainer,
    .gameControllContainer,
    .game-container {
        max-width: 600px;
        width: 100vw;
        max-height: 400px;
        height: 66.66vh;
        /* Maintain 3:2 aspect ratio */
    }

    .fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    button {
        font-size: 16px;
        border-width: 1.5px;
        border-radius: 6px;
    }

    .controllButton {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        margin: 6px;
        border-width: 1.5px;
    }

    .gameButtons {
        top: 5px;
        right: 5px;
        gap: 6px;
    }

    .icon-btn {
        width: 36px;
        height: 36px;
        font-size: 18px;
        border-width: 1.5px;
    }

    #mobile-controls button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        border-width: 1.5px;
    }

    .startButtons {
        margin-top: 12px;
        margin-left: 12px;
        gap: 12px;
    }

    .volumeContainer {
        bottom: 12px;
    }

    .volume-label,
    .volumeText {
        font-size: 16px;
    }

    .volume-slider {
        width: 100px;
        height: 12px;
        border-width: 1px;
    }

    .forYourInfo {
        display: none;
    }
}

@media (max-height: 400px) {
    body {
        min-height: 0px;
    }

    #canvas,
    .gameStartContainer,
    .gameControllContainer,
    .game-container,
    .fullscreen {
        max-width: 450px;
        width: 100vw;
        max-height: 300px;
        height: 66.66vh;
        /* Maintain 3:2 aspect ratio */
    }

    .fullscreen {
        width: 100vw;
        height: 66.66vh;
    }

    .gameButtons {
        top: 5px;
        right: 5px;
        gap: 6px;
    }

    .icon-btn {
        width: 26px;
        height: 26px;
        font-size: 16px;
        border-width: 1px;
    }

    #mobile-controls button {
        width: 36px;
        height: 36px;
        font-size: 16px;
        border-width: 1px;
    }

    .startButtons {
        margin-top: 12px;
        margin-left: 12px;
        gap: 12px;
    }

    .volumeContainer {
        bottom: 12px;
    }

    .volume-label,
    .volumeText {
        font-size: 12px;
        font-weight: normal;
    }

    .volume-slider {
        width: 100px;
        height: 12px;
        border-width: 1px;
    }

    .forYourInfo {
        display: none;
    }

    .counters {
        font-size: 12px;
        font-weight: normal;
        right: 5px;
    }
}