@media (max-height: 450px) {
    body {
        min-height: 0px;
    }

    #canvas,
    .gameStartContainer,
    .gameControllContainer,
    startControlls .game-container {
        max-width: 600px;
        width: 100vw;
        max-height: 400px;
        height: 66.66vh;
        /* Maintain 3:2 aspect ratio */
    }

    .fullscreen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .startButtons button,
    .volumeContainerStart {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }

    button {
        font-size: 16px;
        border-width: 1.5px;
        border-radius: 6px;
        color: black;
        -webkit-text-stroke: 0;
    }



    .controllButton {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        margin: 6px;
        border-width: 1.5px;
    }


    .gameButtons {
        top: 5px;
        right: 5px;
        gap: 6px;
    }

    .icon-btn {
        width: 36px;
        height: 36px;
        font-size: 18px;
        border-width: 1.5px;
    }

    #mobile-controls button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        border-width: 1.5px;
    }

    .startButtons {
        margin-top: 12px;
        margin-left: 12px;
        gap: 12px;
    }

    .volumeContainerStart {
        font-size: 16px;
        border-width: 1.5px;
        border-radius: 6px;
        color: black;
        -webkit-text-stroke: 0;
        padding: 0 4px;
        margin-right: 12px;
    }

    .volumeContainerStart input[type="checkbox"] {
        width: 16px;
        height: 16px;
        border-width: 1.5px;
        margin-right: 4px;
    }

    .volumeContainerStart label {
        font-size: 14px;
    }



    .volume-label,
    .volumeText {
        font-size: 16px;
    }

    .volume-slider {
        width: 100px;
        height: 12px;
        border-width: 1px;
    }

    .forYourInfo {
        display: none;
    }

    .controlls {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 24px;
        font-size: 12px;
        color: gold;
        -webkit-text-stroke: 0;
    }

    .controllButton {
        width: 15px;
        height: 15px;
        border-radius: 8px;
        background-color: transparent;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        margin: 10px;
        border: 2px solid gold;
        transition: all 0.3s ease;
    }

    .controll {
        width: 150px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-height: 400px) {
    body {
        min-height: 0px;
    }

    button {
        color: black;
        -webkit-text-stroke: 0;
    }

    #canvas,
    .gameStartContainer,
    .gameControllContainer,
    .game-container,
    .fullscreen {
        max-width: 450px;
        width: 100vw;
        max-height: 300px;
        height: 66.66vh;
        /* Maintain 3:2 aspect ratio */
    }

    .volumeContainerStart {
        font-size: 12px;
        border-width: 1px;
        border-radius: 6px;
        color: black;
        -webkit-text-stroke: 0;
        padding: 0 3px;
        margin-right: 8px;
    }

    .volumeContainerStart input[type="checkbox"] {
        width: 10px;
        height: 10px;
        border-width: 1px;
        margin-right: 3px;
    }

    .volumeContainerStart label {
        font-size: 12px;
        color: black;
        -webkit-text-stroke: 0;
    }

    .fullscreen {
        width: 100vw;
        height: 66.66vh;
    }

    .gameButtons {
        top: 5px;
        right: 5px;
        gap: 6px;
    }

    .icon-btn {
        width: 26px;
        height: 26px;
        font-size: 16px;
        border-width: 1px;
    }

    #mobile-controls button {
        width: 36px;
        height: 36px;
        font-size: 16px;
        border-width: 1px;
    }

    .startButtons {
        margin-top: 12px;
        margin-left: 12px;
        gap: 12px;
    }

    .volumeContainer {
        bottom: 12px;
    }

    .volume-label,
    .volumeText {
        font-size: 12px;
        font-weight: normal;
    }

    .volume-slider {
        width: 100px;
        height: 12px;
        border-width: 1px;
    }

    .forYourInfo {
        display: none;
    }

    .counters {
        font-size: 12px;
        font-weight: normal;
        right: 5px;
    }

    .gameControllContainer {
        max-width: 450px;
        max-height: 300px;
    }



}