body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke: 1px gold;
    background-color: transparent;
    border: 2px solid gold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    box-shadow: 0px 0px 10px gold;
    transform: scale(1.1);
    text-shadow: 2px 2px 4px gold;
}

.d-none {
    display: none !important;
}

.gameStartContainer {
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameControllContainer {
    width: 720px;
    height: 480px;
    background-image:
        linear-gradient(to right, transparent, rgba(117, 19, 93, 1)),
        url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



canvas,
h1,
.forYourInfo {
    position: relative;
    z-index: 2;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

.forYourInfo {
    margin-top: 10px;
    text-align: center;
}

.tradeCooldown {
    position: fixed;
    top: 120px;
    right: 20px;
    color: #518ecf;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

.controllButton {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    border: 2px solid gold;
    transition: all 0.3s ease;
}

.controllButton:hover {
    box-shadow: 0px 0px 10px gold;
    transform: scale(1.1);
    text-shadow: 2px 2px 4px gold;
}

.controlls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 24px;
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke: 1px gold;

}

.backBtn {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 24px 0 0 24px;
}

.controll {
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}