body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

.forYourInfo {
    margin-top: 10px;
    text-align: center;
}
